/*******************************/
/*       GENERAL SETTINGS      */
/*******************************/

.example-panel-padding {
	padding-top: 60px;
}

/*******************************/
/*       CAROUSEL              */
/*******************************/

.swiper-container {
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #FFF;
}

.swiper-pagination {
  margin-top: 10px;
}

.carousel-step {
  padding: 30px;
  text-align: center;
}

.features {
 margin-top: 50px; 
}

.features .feature-description {
  font-size: 16px;
}

.features .row {
  margin-bottom: 0px;
}
.nav img{
  float: left;
  padding: 7px 7px;
}
.nav .img-well {
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border-radius: 5%
}
.navbar .brand{
  font-size: 24px;
}
.footer p{
  padding-top: 10px;
  color: #FFF;
}